scanpy==1.9.1
daal==2021.2.3
anndata2ri==1.0.6
bbknn
constclust==v0.2.0
dash==2.5.1
episcanpy==0.3.2
gprofiler==1.0.0
harmonypy
magic-impute==3.0.0
monet==0.3.1
palantir==1.0.1
phenograph==1.5.7
pybind11==2.9.2
rpy2==3.5.2
scrublet
scvelo==0.2.4
velocyto==0.17.17
